[MASTER]
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116 # missing-function-docstring

[FORMAT]
# Good variable names which should always be accepted, separated by a comma
good-names=i,j,k,db
